.container{
    display: flex;
    flex-direction : column;
}

.appContainer{
    display: flex;
    flex-direction : row;
}

.selectedCatcontainer{
    margin-left: 100pt;
}

.cat {
    flex : 1 1 0;
}